:root {
    --background-color: #0e0e10;
    --navbar-color: #18181b;
    --dialog-color: #18181b;

    --primary-color: #a970ff;
    --secondary-color: #2e2e30;
    --select-color: #9147ff;
    --text-color: #efeff1;
    --link-hover-color: #bf94ff;
    --background-input-color: #464649;
    --background-input-color-darker: #3a3a3d;
    --border-input-color-hover: #5d5d5f;
    --loading-background-color: #00000066;
    --overlay-background-color: #00000099;

    --error-color: #eb0400;
    --success-color: #00f593;
    --info-color: #0e0e10;
    --warning-color: #0e0e10;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter.ttf") format("truetype");
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color) !important;
}

svg * {
    transform-box: fill-box;
}

h1, h2, h3, h4 {
    margin-bottom: 3rem;
}

@keyframes rotate-third {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(120deg); }
}

.content {
    max-width: 70%;
    margin: 4rem auto;
}

#loading .arrow, .loading > .arrow {
    transform-origin: 27px 46px;
    animation: .8s rotate-third cubic-bezier(0.23, .7, 0.320, 1) infinite;
}

.profile-image {
    border-radius: 50%;
}